/* Responsive text */

.text-responsive {
  font-size: calc(100% + 1vw + 1vh);
}

/* Table */

.no-collapse {
  border-collapse: separate;
  border-spacing: 0;
}

/* Fade in animation */

.fade-in {
  animation: fade-in 0.6s;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
