/* Responsive text */

.text-responsive {
  font-size: calc(100% + 1vw + 1vh);
}

/* Table */

.pointer {
  cursor: pointer;
}

td.bordered {
  border: 3px solid black;
}

td.bordered:hover {
  border: 3px solid orange;
  transition: border 0.3s;
}

.no-collapse {
  border-collapse: separate;
  border-spacing: 0;
}

.opacity-10 {
  opacity: 0.1;
}

.cell-width {
  width: calc(100% / 5);
}

/* Fade in animation */

.fade-in {
  animation: fade-in 0.6s;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
